.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background-image: radial-gradient( circle 700px at 30% 10%,  #00ADB5 25%, #0080FE 80%, #0080FE 90.8% );
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.313) 0px 8px 16px;
    cursor: default;
}


.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary-variant);
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details-icon{
    margin-top:6px ;
    color: var(--color-primary);
}

.experience__details-icon-experienced{
    color: #222831;
}
.experience__details-icon-intermediate{
color: #222831;
    
}
.experience__details-icon{
    color: #222831;
}
h4{
    color: #222831;
}


@media screen and (max-width: 1024px) {
   .experience__container{
    grid-template-columns: 1fr;
   }
   .experience__container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
   .experience__content{
    padding: 1rem;
   }

}

@media screen and (max-width: 600px) {
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }


}